.heading, .body {
    color: var(--color-black-text);
}

.heading {
    font-family: 'SFProText-Bold';
    font-size: 28rem;
    letter-spacing: -1.45rem; //?
}

.body {
    font-size: 20rem;
    line-height: 20rem;
    letter-spacing: -1rem;
}

.caption {
    font-size: 14rem;
    letter-spacing: -0.08rem; //?
}

.number {
    font-size: 14rem;
    letter-spacing: -1rem;
}